<div class="post col-md-12">
  <div class="row">
    <div class="col-md-12">
      <h3 class = "post_heading">
        <a href="#" class="post_title">{{p.subject}}</a>
      </h3>
    </div>
    <div class="col-md-12">
      <small class = "post-date">{{p.created.strftime("%b %d, %Y")}}</small>
    </div>
    <div class="col-md-12 post_content">
      <p>
        {{p._render_text | safe}}
      </p>
    </div>
    <div class="PostButtons">
      <a class= "btn btn-primary btn-default-md" href="/blog/editpost/{{p.key.id()}}">Add</a>
      <a class= "btn btn-primary btn-default-md" href="/blog/deletepost/{{p.key.id()}}">Delete</a>
      <a class= "btn btn-primary btn-default-md" href="/blog/newcomment/{{p.key.id()}}">Comment</a>
      {% for c in comments %}
      <div class="">
        {{c.content}}
        {{c.author}}
      </div>
      {% if c.author.name == user %}
      <a class= "btn btn-primary btn-default-md" href="/blog/editcomment/{{c.key.id()}}">AddComment</a>
      <a class= "btn btn-primary btn-default-md" href="/blog/deletecomment/{{c.key.id()}}">DeleteComment</a>
      {% endif %}
    {% endfor %}
    </div>
    <!-- <div class="CommentButtons">
      {% for c in comments %}
        {% if c.author.name == self.user.name %}
        <a class= "btn btn-primary btn-default-md" href="/blog/editcomment/{{c.key.id()}}">Add</a>
        <a class= "btn btn-primary btn-default-md" href="/blog/deletecomment/{{c.key.id()}}">Delete</a>
        {% endif %}
      {% endfor %}
    </div> -->
  </div>
</div>
